.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 100px) 50px 50px;
  gap: 20px;
}
.box {
  background-color: gray;
}
#box-1 {
  grid-row: span 4;
}
