@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");
/* shared styles  */
* {
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  background: #ff900e;
}
/* header style  */
header {
  padding: 50px 240px;
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 600;
  font-size: 1rem;
}
nav li a {
  color: #424242;
  text-decoration: none;
}
.nav-title {
  font-size: 2.7rem;
  font-weight: 700;
  color: #131313;
}
/* banner style  */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
.banner-desc {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.banner img {
  margin-top: 20px;
  width: 100%;
}

/* main style  */

main {
  max-width: 1440px;
  margin: 80px auto;
}
.teams-container {
  display: flex;
  align-items: center;
}
.teamsImg-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding: 0 70px;
  /* display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.3rem; */
}
.teams-content-title {
  font-size: 2.6rem;
}
.teams-content-title span:first-child {
  color: #727272;
  font-size: 3rem;
  font-weight: 500;
}
.teams-content-title span:nth-child(2) {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
.teams-content-title span:last-child {
  color: #ff900e;
  font-size: 3rem;
  font-weight: 700;
}
.teams-desc,
.facts-desc,
.card-title,
.sponsors-desc {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
/* Features and Facts section Style  */
.fact-title {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
.fact-card-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.card {
  padding: 2.3rem;
  border-radius: 8px;
  border: 1px solid #ff900e;
}
.card .card-stats {
  font-size: 2.8rem;
  color: #424242;
  font-weight: 600;
  margin: 10px 0;
}
/* Sponsors section style  */
.sponsors {
  text-align: center;
}
.sponsor-title {
  margin-top: 4rem;
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
.sponsors-desc {
  width: 60%;
  margin: 0 auto;
}
.sponsor-img-section {
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.6rem;
}
/* Responsive styles  */
@media screen and (max-width: 576px) {
  header {
    padding: 15px;
  }
  nav,
  .teams-container,
  .fact-card-container,
  .sponsor-img-section {
    flex-direction: column;
  }
  .teamsImg-container {
    grid-template-columns: 1fr;
  }
  .teams-content,
  .fact-card-container {
    padding: 0 40px;
    /* display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.3rem; */
  }
  .fact-card-container {
    gap: 1.3rem;
  }

  .card {
    padding: 1rem;
  }
  .fact-section {
    padding: 0 1.8rem;
  }

  .sponsor-img-section img {
    width: 160px;
  }
}
/* Medium and tablet device  */

@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 10px;
  }
  nav,
  .teams-container,
  .sponsor-img-section {
    flex-direction: column;
  }
}
